<div class="container">
	<h1><%= @cocktail.name %> </h1>
	
	

	<h2>Ingredientes:</h2>
	<ul>
		<% @cocktail.doses.each do |dose| %>
			<li><%= dose.description %> <%= dose.ingredient.name %>
				<%= link_to "Delete", dose_path(dose), method: :delete  %>
			</li>
		<% end %>
	</ul>

<%= link_to "New Dose", new_cocktail_dose_path(@cocktail) %>

</div>
