<!DOCTYPE html>
<html>
  <head>
    <title>RailsMisterCocktail</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>


      <nav class="navbar navbar-light bg-light justify-content-between">
        
        <%= link_to image_tag('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlNdsEFHTokFWeo4Ec_Zhyjfs6XU_nV-kmFA&usqp=CAU', :size => "50x50", :style => "border-radius: 100%"), root_path, class: "navbar-brand" %>
        <form class="form-inline">
          <input class="form-control mr-sm-2" name="query" type="search" placeholder="Search" aria-label="Search" value="<%= params[:query] %>">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          <%= link_to 'Add Cocktail', new_cocktail_path, class: 'btn btn-outline-primary my-2 my-sm-0 ml-2' %>
        </form>
      </nav>

      
      <%= yield %>

  </body>
</html>
